<!DOCTYPE html>
<html>

<head>

    <title>GroupChat</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='dashboard.css') }}">

</head>

<body>

<div class="mobile-container"
     id="container">

    <!-- THEME -->

    <button class="theme-btn"
            id="theme-btn"
            onclick="toggleTheme()">

        🌙

    </button>

    <!-- DASHBOARD -->

    <div class="dashboard-box">

        <h1>
            Hello {{ username }}
        </h1>


        <input type="text"
               id="room-id"
               placeholder="Enter Room ID">

        <button onclick="generateRoomId()">

            Generate Room ID

        </button>

        <button onclick="joinRoom()">

            Join Room

        </button>

    </div>

</div>

<script>

function generateRoomId(){

    let randomId =
    Math.random().toString(36)
    .substring(2, 8);

    document
    .getElementById("room-id")
    .value = randomId;
}

function joinRoom(){

    let room =
    document
    .getElementById("room-id")
    .value;

    if(room.trim() == ""){

        return;
    }

    window.location.href =
    "/chat/" + room;
}

document
.getElementById("room-id")
.addEventListener("keypress", function(e){

    if(e.key === "Enter"){

        joinRoom();
    }
});

</script>

<script src="{{ url_for('static', filename='theme.js') }}"></script>

</body>
</html>